.content-flex {
  display: flex;

  &--wrap {
    flex-wrap: wrap;
  }

  &__justify-between {
    justify-content: space-between;
  }

  &__justify-around {
    justify-content: space-around;
  }

  &__justify-evenly {
    justify-content: space-evenly;
  }

  &__justify-center {
    justify-content: center;
  }

  &__justify-end {
    justify-content: flex-end;
  }
  &__align-center {
    align-self: center;
  }
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
