@use '../util/' as *;

.container {
  padding: 0 rem(25);
  max-width: 80vw;
  margin: 0 auto;
  position: relative;
  @include breakpoint(large) {
    padding: 0;
  }
}

.card-grid {
  display: grid;
  gap: rem(30);
  grid-template-columns: 1fr;

  @include breakpoint(medium) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include breakpoint(large) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.vh-60 {
  height: 60vh;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
