@use '../util/' as *;

.header {
  max-width: rem(1100);
  display: grid;
  // margin-top: rem(36);
  // margin-bottom: rem(36);
  // margin-left: auto;
  // margin-right: auto;
  margin: rem(36) auto rem(36) auto;
  grid-template-columns: repeat(3, 1fr);

  @include breakpoint(medium) {
    align-items: center;
  }

  &__title {
    margin: auto;
  }

  &__subtitle {
    font-size: rem(14);
    font-weight: 700;
    color: var(--dark-text1);
  }
}
